@font-face {
    font-family: 'ptsansnarrow';
    src: url('../fonts/ptsansnarrow.woff') format('woff'),
         url('../fonts/ptsansnarrow.woff2') format('woff2'),
         url('../fonts/ptsansnarrowbold.woff') format('woff2'),
         url('../fonts/ptsansnarrowbold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {font-family: 'ptsansnarrow', sans-serif;
}