@font-face {
    font-family: 'ptsansnarrow';
    src: url('../fonts/ptsansnarrow.woff') format('woff'),
         url('../fonts/ptsansnarrow.woff2') format('woff2'),
         url('../fonts/ptsansnarrowbold.woff') format('woff2'),
         url('../fonts/ptsansnarrowbold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'ptsansnarrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    background-color: black;
    background-image: url(../img/background.png);
    background-position: top center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.button {
    font: inherit;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000;
    border: none;
}
.button:hover,
.button:active,
.button:focus {
    background-color: #663d15;
}

.main-navigation{
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    background-color: #0000;
}
.site-navigation,
.user-navigation {
    list-style: none;
}
.site-navigation, a
.user-navigation, a{
    color: #fff;
}
.site-navigation a:hover,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #242424;
}
.advantages-list {
    list-style: none;
}
.advantages-item {
    text-align: center;
}
.advantages-item h3 {
    font-size: 30px;
    line-height: 42px;
}
.index-columns{
    color: #000000;
    background-color: #f8f5f2;
    background-image: url(../img/paterrn.png);
    background-position: 0 0;
    background-repeat: repeat;
}
.index-columns h2{
    font-size: 30px;
    line-height: 42px;
}
.news-list {
    list-style: none;
}
.news-item time {
    text-transform: none;
}
.gallery-content {
    background-color: #ccc;
    border: 7px solid #fff 
}
.record-item input {
    font: inherit;
    border: 3px solid #000;
    background-color: transparent;
}
.record-item input:focus {
    border-color: #c6e9fa;
}
.main-footer {
    color: #ffff;
    background-color: #212121;
    background-image: url(../img/paterrn-dark.png);
    background-position: 0 0;
    background-repeat: repeat;
}
.footer-contacts a {
    color: #fff;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}
.footer-social ul {
    list-style: none;
}
.footer-social {
    text-align: center;
}
.social-button {
    color: #fff;
}
.footer-copyright {
    text-align: center;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000;
    background-color: #fff;
}
.modal {
    color: #000;
    background-color: #f8f3f0;
    background-image: url(../img/paterrn-light.png);
    background-position: 0 0;
    background-repeat: repeat;
}
.modal h2 {
    font-size: 30px;
    line-height: 42px;
}
.login-form input[type="email"],
.login-form input[type="password"] {
    font: inherit;
    color: #000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 3px solid #000;
}
.login-form input:focus {
    border-color: #c6e9fa;
}
.login-checkbox:hover,
.login-checkbox:focus {
    color: #c6e9fa;
}
.restore {
    color: inherit;
    text-decoration: underline;
}
.restore:hover,
.restore:focus {
    text-decoration: none;
}