
.textbutton {
    cursor: pointer;
    color: blue;
    background-color: azure;
}
.link {
    color: brown;
    text-decoration: none;
}
.link:visited{
    color: blueviolet;
}
.link:hover{
    color: brown;
    text-decoration: underline;
}
.link:active{
    color: yellow;
}
.textinput {
    width: 342px;
    margin: 0 0 10px 0;
}
.textinput:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.8)
}
.button {
    display: block;
    width: 350px;
    cursor: pointer;
}
.button:hover{
    background-color: darkkhaki;
    color: deeppink;
}
.button:active{
    text-transform: uppercase;
}
.button:focus{
    box-shadow: 0 0 10px rgba(241, 59, 59, 0.8)
}
.list li:first-child{
    color: green;
}
.list li:last-child{
    color: fuchsia;
}
.list li:nth-child(3){
    text-decoration: underline;
}

.benefits li:nth-child(odd){
    background-color: yellow;
}
.benefits li:nth-child(odd):hover{
    background-color: teal;
}
.benefits li:nth-child(even){
    background-color: blue;
}
